<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="icon" type="image/x-icon" href="../image/mini.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"/>
    <link rel="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css"/>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script defer src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <script defer src="../js/cursos.js"></script>
    <title>Cursos</title>   
</head>
<body>

    <div class="main-container d-flex">
        <div class="sidebar" id="side_nav">
            <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-center ">
                <a href="https://olivossport.cl/"><img src="../image/logo.png" alt="logo"></a>
            </div>
    
            <ul class="list-unstyled px-2"> 
                <li class="">
                    <a href="/menu" class="text-decoration-none px-3 py-2 d-block " >
                        <i class="fal fa-home" ></i> 
                        Menu
                    </a>
                </li>

                <% if (tipo_de_usuario === 'Administrador') { %>
                    <li class="">
                    <a href="/justificaciones" class="text-decoration-none px-3 py-2 d-block">
                            <i class="fal fa-list"></i>
                            Justificaciones
                        </a>
                    </li>
                <% } %>

                <% if (tipo_de_usuario === 'Administrador') { %>
                    <li class="">
                        <a href="/profes" class="text-decoration-none px-3 py-2 d-block">
                            <i class="fal fa-list"></i>
                            Profesores
                        </a>
                    </li>
                <% } %>
                
                
                <% if (tipo_de_usuario === 'Administrador') { %>
                    <li class="">
                        <a href="/cursos" class="text-decoration-none px-3 py-2 d-block">
                            <i class="fal fa-envelope-open-text">
                            </i> Cursos</a></li>
                <% } %>
                

                <li class="">
                    <a href="/user" class="text-decoration-none px-3 py-2 d-block">
                        <i class="fal fa-users"></i>
                        Perfil</a></li>
            </ul>

            <hr class="h-color mx-2">
    
            <ul class="list-unstyled px-2">
                <li class=""><a href="/logout" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-bars"></i>
                        Cerrar Sesión</a></li>
                <!-- <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-bell"></i>
                        Notifications</a></li> -->
    
            </ul>
        </div>
        <!-- ----------------------- END OF SIDEBAR ----------------------- -->
        <div class="content">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between d-md-none d-block">
                        <button class="btn px-1 py-0 open-btn me-md-2 " type="button">
                            <i class="fal fa-stream">
                                <span class="material-symbols-outlined">menu</span>
                            </i>
                        </button>
                    </div>
                    <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fal fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a href="#"><img src="../image/profile.jpg" style="height: 40px; width: 40px;"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- ----------------------- END OF NAVBAR ----------------------- -->

            <div class="dashboard-content px-3 pt-4">
                <div class="container mt-5">
                    <h1>Cursos del Centro Deportivo</h1>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCourseModal">Agregar Curso</button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Curso</th>
                                <th>Horario</th>
                                <th>Profesor</th>
                                <th>Sector</th>
                                <th>Disponibilidad</th>
                                <th>Editar</th>
                                <th>Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% cursos.forEach(curso => { %>
                                <tr>
                                    <td><%= curso.curso %></td>
                                    <td><%= curso.horario %></td>
                                    <td><%= curso.profesor ? curso.profesor.nombre : 'Sin asignar' %></td>
                                    <td><%= curso.sector %></td>
                                    <td><%= curso.disponibilidad %></td>
                                        <!-- Botones de editar y borrar -->
                                       <td>
                                        <button class="btn btn-warning" onclick="editarCurso('<%= curso._id %>', '<%= curso.curso %>', '<%= curso.horario %>', '<%= curso.profesor ? curso.profesor._id: ',' %>', '<%= curso.sector %>', '<%= curso.disponibilidad %>')">Editar</button>
                                        </td>
                                        <td>
                                        <form action="/cursos/delete/<%= curso._id %>" method="POST" style="display:inline;">
                                            <button type="submit" class="btn btn-danger">Borrar</button>
                                        </form>

                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>

         <!-- Modal de agregar -->
<<<<<<< HEAD
         <div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="addCourseModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCourseModalLabel">Agregar Curso</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="addCourseForm" method="POST" action="/cursos">
                            <div class="mb-3">
                                <label for="courseName" class="form-label">Nombre del Curso</label>
                                <select class="form-control" id="addCurso" name="curso" required>
                                    <option value="Futbol">Fútbol</option>
                                    <option value="Tenis">Tenis</option>
                                    <option value="Padel">Pádel</option>
                                    <option value="Basquetbol">Básquetbol</option>
                                    <option value="Natacion">Natación</option>
                                    <option value="Gimnasio">Gimnasio</option>
                                </select>
    
                            </div>
                            <div class="mb-3">
                                <label for="courseSchedule" class="form-label">Horario</label>
                                <select class="form-control" id="addHorario" name="horario" required>
                                    <option value="08:00 - 10:00">08:00 - 10:00</option>
                                    <option value="10:00 - 12:00">10:00 - 12:00</option>
                                    <option value="12:00 - 14:00">12:00 - 14:00</option>
                                    <option value="14:00 - 16:00">14:00 - 16:00</option>
                                    <option value="16:00 - 18:00">16:00 - 18:00</option>
                                    <option value="Lunes a Viernes">Lunes a Viernes</option>
                                </select>
    
                            </div>
                            <div class="mb-3">
                                <label for="courseProfessor" class="form-label">Profesor</label>
                                <select class="form-control" id="courseProfessor" name="profesor" required>
                                    <% profesores.forEach(profesor => { %>
                                        <option value="<%= profesor._id %>"><%= profesor.nombre %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="courseSector" class="form-label">Sector</label>
                                <select class="form-control" id="addSector" name="sector" required>
                                    <option value="Cancha A">Cancha A</option>
                                    <option value="Cancha B">Cancha B</option>
                                    <option value="Cancha C">Cancha C</option>
                                    <option value="Cancha Padel A">Cancha Pádel A</option>
                                    <option value="Cancha Padel B">Cancha Pádel B</option>
                                    <option value="Cancha Tenis A">Cancha Tenis A</option>
                                    <option value="Cancha Basquetbol">Cancha Básquetbol</option>
                                    <option value="Piscina">Piscina</option>
                                    <option value="Gimnasio">Gimnasio</option>
                                </select>
    
                            </div>
                            <div class="mb-3">
                                <label for="courseAvailability" class="form-label">Disponibilidad</label>
                                <select class="form-control" id="courseAvailability" name="disponibilidad" required>
                                    <option value="Si">Sí</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Agregar Curso</button>
                        </form>
                    </div>
=======
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Agregar Curso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addForm" action="/cursos" method="POST">
                        <!-- <div class="mb-3">
                            <label for="addCurso" class="form-label">Curso</label>
                            <input type="text" class="form-control" id="addCurso" name="curso" required>
                        </div> -->
                        <div class="mb-3">
                            <label for="addCurso" class="form-label">Curso</label>
                            <select class="form-control" id="addCurso" name="curso" required>
                                <option value="Futbol">Fútbol</option>
                                <option value="Tenis">Tenis</option>
                                <option value="Padel">Pádel</option>
                                <option value="Basquetbol">Básquetbol</option>
                                <option value="Natacion">Natación</option>
                                <option value="Gimnasio">Gimnasio</option>
                            </select>
                        </div>
                        
                        <div class="mb-3">
                            <label for="addHorario" class="form-label">Horario</label>
                            <select class="form-control" id="addHorario" name="horario" required>
                                <option value="08:00 - 10:00">08:00 - 10:00</option>
                                <option value="10:00 - 12:00">10:00 - 12:00</option>
                                <option value="12:00 - 14:00">12:00 - 14:00</option>
                                <option value="14:00 - 16:00">14:00 - 16:00</option>
                                <option value="16:00 - 18:00">16:00 - 18:00</option>
                                <option value="Lunes a Viernes">Lunes a Viernes</option>
                            </select>
                        </div>
                        
                        <!-- <div class="mb-3">
                            <label for="addHorario" class="form-label">Horario</label>
                            <input type="text" class="form-control" id="addHorario" name="horario" required>
                        </div> -->
                        
                        <div class="mb-3">
                            <label for="addProfesor" class="form-label">Profesor</label>
                            <input type="text" class="form-control" id="addProfesor" name="profesor" required>
                        </div>
                        <!-- <div class="mb-3">
                            <label for="addCancha" class="form-label">Cancha</label>
                            <input type="text" class="form-control" id="addCancha" name="cancha" required>
                        </div> -->
                        <div class="mb-3">
                            <label for="addSector" class="form-label">Sector</label>
                            <select class="form-control" id="addSector" name="sector" required>
                                <option value="Cancha A">Cancha A</option>
                                <option value="Cancha B">Cancha B</option>
                                <option value="Cancha C">Cancha C</option>
                                <option value="Cancha Padel A">Cancha Pádel A</option>
                                <option value="Cancha Padel B">Cancha Pádel B</option>
                                <option value="Cancha Tenis A">Cancha Tenis A</option>
                                <option value="Cancha Basquetbol">Cancha Básquetbol</option>
                                <option value="Piscina">Piscina</option>
                                <option value="Gimnasio">Gimnasio</option>
                            </select>
                        </div> 
                        <!-- <div class="mb-3">
                            <label for="addDisponibilidad" class="form-label">Disponibilidad</label>
                            <input type="text" class="form-control" id="addDisponibilidad" name="disponibilidad" required>
                        </div> -->
                        <div class="mb-3">
                            <label for="addDisponibilidad" class="form-label">Disponible</label>
                            <select class="form-control" id="addDisponibilidad" name="disponibilidad" required>
                                <option value="Si">Sí</option>
                                <option value="No">No</option>
                            </select>
                        </div> 
                        <button type="submit" class="btn btn-primary">Agregar Curso</button>
                    </form>
>>>>>>> 4fccab8bca6e4b197b4ffde28b8c3b3bcf0077c5
                </div>
            </div>
        </div>

    <!-- boton para desplegar la ventana modal -->
    


<!-- Script para mostrar el modal y llenar los datos del formulario de añadir -->
    <script>
        function showAddModal() {
            $('#addForm').attr('action', '/cursos'); // Ajusta la acción del formulario
            $('#addModal').modal('show');
        }
    </script>


    <!-- Modal de edición -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Editar Curso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editForm" method="POST">
                        <input type="hidden" id="editId" name="id">
                        <div class="mb-3">
                            <label for="editNombre" class="form-label">Nombre del Curso</label>
                            <select class="form-control" id="addCurso" name="curso" required>
                                <option value="Futbol">Fútbol</option>
                                <option value="Tenis">Tenis</option>
                                <option value="Padel">Pádel</option>
                                <option value="Basquetbol">Básquetbol</option>
                                <option value="Natacion">Natación</option>
                                <option value="Gimnasio">Gimnasio</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="editHorario" class="form-label">Horario</label>
<<<<<<< HEAD
                            <select class="form-control" id="addHorario" name="horario" required>
                                <option value="08:00 - 10:00">08:00 - 10:00</option>
                                <option value="10:00 - 12:00">10:00 - 12:00</option>
                                <option value="12:00 - 14:00">12:00 - 14:00</option>
                                <option value="14:00 - 16:00">14:00 - 16:00</option>
                                <option value="16:00 - 18:00">16:00 - 18:00</option>
                                <option value="Lunes a Viernes">Lunes a Viernes</option>
=======
                            <select class="form-control" id="editHorario" name="horario" required>
                                <option value="Lunes : 08:00 - 10:00">Lunes : 08:00 - 10:00</option>
                                <option value="Lunes : 10:00 - 12:00">Lunes : 10:00 - 12:00</option>
                                <option value="Lunes : 12:00 - 14:00">Lunes : 12:00 - 14:00</option>
                                <option value="Lunes : 14:00 - 16:00">Lunes : 14:00 - 16:00</option>
                                <option value="Lunes : 16:00 - 18:00">Lunes : 16:00 - 18:00</option>
                                <option value="Martes : 08:00 - 10:00">Martes : 08:00 - 10:00</option>
                                <option value="Martes : 10:00 - 12:00">Martes : 10:00 - 12:00</option>
                                <option value="Martes : 12:00 - 14:00">Martes : 12:00 - 14:00</option>
                                <option value="Martes : 14:00 - 16:00">Martes : 14:00 - 16:00</option>
                                <option value="Martes : 16:00 - 18:00">Martes : 16:00 - 18:00</option>
                                <option value="Miercoles : 08:00 - 10:00">Miercoles : 08:00 - 10:00</option>
                                <option value="Miercoles : 10:00 - 12:00">Miercoles : 10:00 - 12:00</option>
                                <option value="Miercoles : 12:00 - 14:00">Miercoles : 12:00 - 14:00</option>
                                <option value="Miercoles : 14:00 - 16:00">Miercoles : 14:00 - 16:00</option>
                                <option value="Miercoles : 16:00 - 18:00">Miercoles : 16:00 - 18:00</option>
                                <option value="Jueves : 08:00 - 10:00">Jueves : 08:00 - 10:00</option>
                                <option value="Jueves : 10:00 - 12:00">Jueves : 10:00 - 12:00</option>
                                <option value="Jueves : 12:00 - 14:00">Jueves : 12:00 - 14:00</option>
                                <option value="Jueves : 14:00 - 16:00">Jueves : 14:00 - 16:00</option>
                                <option value="Jueves : 16:00 - 18:00">Jueves : 16:00 - 18:00</option>
                                <option value="Viernes : 08:00 - 10:00">Viernes : 08:00 - 10:00</option>
                                <option value="Viernes : 10:00 - 12:00">Viernes : 10:00 - 12:00</option>
                                <option value="Viernes : 12:00 - 14:00">Viernes : 12:00 - 14:00</option>
                                <option value="Viernes : 14:00 - 16:00">Viernes : 14:00 - 16:00</option>
                                <option value="Viernes : 16:00 - 18:00">Viernes : 16:00 - 18:00</option>
                            </select>
                        <div class="mb-3">
                            <label for="editProfesor" class="form-label">Profesor</label>
                            <select class="form-control" id="editProfesor" name="profesor" required>
                                <% profesores.forEach(profesor => { %>
                                    <option value="<%= profesor._id %>"><%= profesor.nombre %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="editSector" class="form-label">Sector</label>
                            <select class="form-control" id="addSector" name="sector" required>
                                <option value="Cancha A">Cancha A</option>
                                <option value="Cancha B">Cancha B</option>
                                <option value="Cancha C">Cancha C</option>
                                <option value="Cancha Padel A">Cancha Pádel A</option>
                                <option value="Cancha Padel B">Cancha Pádel B</option>
                                <option value="Cancha Tenis A">Cancha Tenis A</option>
                                <option value="Cancha Basquetbol">Cancha Básquetbol</option>
                                <option value="Piscina">Piscina</option>
                                <option value="Gimnasio">Gimnasio</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="editDisponibilidad" class="form-label">Disponibilidad</label>
                            <select class="form-control" id="editDisponibilidad" name="disponibilidad" required>
                                <option value="Si">Sí</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Script para mostrar el modal y llenar los datos del formulario -->
    <script src="/js/sidebar.js"></script>
    <script>
        function editarCurso(id, curso, horario, profesorId, sector, disponibilidad) {
            $('#editId').val(id);
            $('#editNombre').val(curso);
            $('#editHorario').val(horario);
            $('#editProfesor').val(profesorId);
            $('#editSector').val(sector);
            $('#editDisponibilidad').val(disponibilidad);
            $('#editForm').attr('action', '/cursos/edit/' + id); // Ajusta la acción del formulario
            $('#editModal').modal('show');
        }
    </script>
                
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
                <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
                <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
                <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
                <script>
                $(document).ready(function() {
                    $('#example').DataTable();
                });
                </script>
</body>
</html>